.allImage {
  ul {
    display: inline-block;
    li {
      display: flex;
      align-items: center;
      position: relative;
      img {
        height: 600px;
        width: 1200px;
      }
    }
  }
}
.informacao {
  padding: 5px;
  flex-direction: column;
}
.back {
  align-items: center;
}
.title {
  display: inline-block;
  align-items: center;
  align-content: center;
  margin: auto;
  text-align: center;
  width: 100%;
  p {
    display: inline-block;
    margin-right: 20px;
  }
}
